{% extends 'partials/base.html' %}
{% load static %}

{% block menu %}
      <div class="header-center mr-auto">
        <nav class="main-nav">
            <ul class="menu sf-arrows">
                <li>
                    <a href="{% url 'home' %}" class="">Home</a>
                </li>
                <li>
                    <a href="{% url 'shop' %}" class="">Shop</a>
                    
                </li>
                <li>
                    <a href="#" class="">About</a>
                </li>
                <li>
                    <a href="blog.html" class="">Contact Us</a>
                </li>
                <li>
                    <a href="blog.html" class="">FAQ</a>
                </li>
            </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .header-left -->               
{% endblock menu %}
{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-color:#faf9f9">
        <div class="container">
            <h1 class="page-title">My Account<span class="text-dark">Dashboard</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    {% include 'partials/dashboard_sidebar.html' %}

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link"></h4>
                                {% if user_profile.dp %}
                                <div class="mb-2">
                                    <img src="{{user_profile.dp.url}}" alt="Profile picture"width="100" style="border-radius: 50px;">
                                    <label for="">Profile picture</label>
                                </div>
                                
                                {% endif %}
                                <form action="#" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name</label>
                                            <input class="form-control" value="{{user_form.first_name.value}}"
                                            type="{{ user_form.first_name.field.widget.input_type }}"
                                            name="{{ user_form.first_name.name }}"
                                            id="{{ user_form.first_name.id_for_label }}" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name</label>
                                            <input class="form-control" value="{{user_form.last_name.value}}"
                                            type="{{ user_form.last_name.field.widget.input_type }}"
                                            name="{{ user_form.last_name.name }}"
                                            id="{{ user_form.last_name.id_for_label }}" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                    <div class="col-sm-6">
                                        <label>Profile picture</label>
                                        <input class="form-control" placeholder="{{profile_form.dp.value}}"
                                        type="{{ profile_form.dp.field.widget.input_type }}"
                                        name="{{ profile_form.dp.name }}"
                                        id="{{ profile_form.dp.id_for_label }}">
                                    </div><!-- End .col-sm-6 -->

                                    <label>Bio</label>
                                    <input value="{{profile_form.bio.value}}"
                                    type="{{ profile_form.bio.field.widget.input_type }}"
                                    name="{{ profile_form.bio.name }}"
                                    id="{{ profile_form.bio.id_for_label }}" class="form-control">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->

                        
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% include 'partials/footer.html' %}
{% endblock content %}
    