{% extends 'partials/base.html' %}
{% load static %}

{% block menu %}
      <div class="header-center mr-auto">
        <nav class="main-nav">
            <ul class="menu sf-arrows">
                <li>
                    <a href="{% url 'home' %}" class="">Home</a>
                </li>
                <li>
                    <a href="{% url 'shop' %}" class="">Shop</a>
                    
                </li>
                <li>
                    <a href="#" class="">About</a>
                </li>
                <li>
                    <a href="blog.html" class="">Contact Us</a>
                </li>
                <li>
                    <a href="blog.html" class="">FAQ</a>
                </li>
            </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .header-left -->               
{% endblock menu %}
{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-color:#faf9f9">
        <div class="container">
            <h1 class="page-title">My Account<span class="text-dark">Dashboard</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    {% include 'partials/dashboard_sidebar.html' %}

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link"></h4>
                                <h4>Wallet</h4>
                                <hr>
                                <h6>User : {{request.user.username}}</h6>
                                <h6>Wallet id : {{wallet.card_id}}</h6>
                                <h6>Balance : ${{wallet.balance}}</h6>
                            </div><!-- .End .tab-pane -->
                            
                            <h5 class="mt-2">Transaction history</h5>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">Order number</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Balance</th>
                                    <th scope="col">Transaction Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for data in transaction_history %}
                                    <tr>
                                        <td>{{data.transaction_id}}</td>
                                        <td>{{data.order_reference.order_number}}</td>
                                        <td>{{data.transaction_type | capfirst}}</td>
                                        {% if data.transaction_type == 'credit' %}
                                        <td><p class="text-success">+${{data.amount}}</p></td>
                                        {% else %}
                                        <td><p class="text-danger">-${{data.amount}}</p></td>
                                        {% endif %}
                                        <td>${{data.updated_balance}}</td>
                                        <td>{{data.timestamp}}</td>
                                </tr>
                                {% endfor %}
                                
                                </tbody>
                              </table>
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% include 'partials/footer.html' %}
{% endblock content %}
    