{% extends 'partials/base_admin.html' %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Category Management</h4>
                      <div class="table-responsive">
                          <div class="search-bar">
                            <form action="{% url 'category_search' %}" method="post" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                              {% csrf_token %}
                              <input type="text" name="search_input" class="form-control mb-1 text-light" placeholder="Search Category">
                              <button type="submit" class="btn-inverse-info mb-1 ">Search</button>
                          </form>
                          <div class="container mt-4">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-inverse-info ms-auto "><a href="{% url 'add_category' %}" class="text-decoration-none" style="color: #8a59cc;">Add Category</a></button>
                            </div>
                          </div>
                          </div>
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Category Name</th>
                                      <th>slug</th>
                                      <th>Edit</th>
                                      <th>Delist</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in cat_obj %}
                                  <tr>
                                      <td>{{i.category_name}}</td>
                                      <td>{{i.slug}}</td>
                                      <td><button class="btn btn-light"><a href={% url 'edit_category' i.id %}>Edit</a></button></td>
                                      
                                      {% if i.is_active%}
                                      <td><button class="btn btn-light"><a href={% url 'delist_category' i.id%}>Delist</a></button></td>
                                      {% else %}
                                      <td><button class="btn btn-light"><a href={% url 'list_category' i.id%}>List</a></button></td>
                                      {% endif %}
                                        
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
    