{% extends 'partials/base_admin.html' %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Order Management</h4>
                      <div class="table-responsive">
                          <div class="search-bar">
                            <form action="{% url 'product_search' %}" method="post" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                              {% csrf_token %}
                              <input type="text" name="search_input" class="form-control mb-1 text-light" placeholder="Search orders">
                              <button type="submit" class="btn-inverse-info mb-1 ">Search</button>
                          </form>
                          </div>
                          </div>
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Order number</th>
                                      <th>User</th>
                                      <th>Payment details</th>
                                      <th>Payment method</th>
                                      <th>Order status</th>
                                      <th>Cancel Order</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in order_obj %}
                                  <tr>
                                      <td><a href="{% url 'order_details' i.id %}" class="">{{i.order_number}}</a></td>
                                      <td>{{i.user}}</td>
                                      <td>{{i.payment}}</td>
                                      <td>{{i.payment_method | capfirst}}</td>
                                      <td>{{i.status}}</td>
                                      
                                      {% if i.status == 'Accepted'%}
                                      <td><button class="btn btn-light"><a href={% url 'cancel_order' i.id %}>Cancel Order</a></button></td>
                                      {% endif %}
                                        
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
    