{% extends 'partials/base_admin.html' %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">User Management</h4>
                      <div class="table-responsive">
                          <div class="search-bar">
                            <form action="{% url 'user_search' %}" method="post" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                              {% csrf_token %}
                              <input type="text" name="search_input" class="form-control mb-1 text-light" placeholder="Search User">
                              <button type="submit" class="btn-inverse-info mb-1 ">Search</button>
                          </form>
                          <div class="container mt-4">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-inverse-info ms-auto "><a href="{% url 'add_user' %}" class="text-decoration-none" style="color: #8a59cc;">Add User</a></button>
                            </div>
                          </div>
                          </div>
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Username</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Email</th>
                                      <th>Edit</th>
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in user_obj %}
                                  <tr>
                                      <td>{{i.username}}</td>
                                      <td>{{i.first_name}}</td>
                                      <td>{{i.last_name}}</td>
                                      <td>{{i.email}}</td>
                                      <td><button class="btn btn-light"><a href={% url 'edit_user' i.id %}>Edit</a></button></td>
                                      {% if not i.is_superuser%}
                                      {% if i.is_block == False %}
                                      <td><button class="btn btn-light"><a href={% url 'block_user' i.id %}>Block</a></button>
                                    </td>  
                                      {% else %}
                                      <td><button class="btn btn-light"><a href={% url 'unblock_user' i.id %}>Unblock</a></button></td> 
                                      {% endif %}
                                      {%else%}
                                      <td></td>
                                      {% endif %}
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
    