{% extends 'partials/base.html' %}
{% load static %}

{% block menu %}
<div class="header-center mr-auto">
    <nav class="main-nav">
        <ul class="menu sf-arrows">
            <li>
                <a href="{% url 'home' %}" class="">Home</a>
            </li>
            <li>
                <a href="{% url 'shop' %}" class="">Shop</a>
                
            </li>
            <li>
                <a href="{% url 'about' %}" class="">About</a>
            </li>
            <li>
                <a href="{% url 'contact_us' %}" class="">Contact Us</a>
            </li>
            <li>
                <a href="{% url 'faq' %}" class="">FAQ</a>
            </li>
        </ul><!-- End .menu -->
    </nav><!-- End .main-nav -->
  </div><!-- End .header-left -->  
{% endblock menu %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-color:#faf9f9">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span class="text-dark">Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    
    {% if not cart_items %}
    <div class="container text-center mt-10 mb-10">
        <h3 class="text-center">Your Cart is empty</span></h1>
        <a href="{% url 'shop' %}"><button class="btn btn-primary " > 
            Continue shopping
        </button></a>
    </div>
    {% else %}
    
    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Type</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            {% for item in cart_items %}
                            <tbody>
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    {% for image in item.product.product_img.all %}
                                                    {% if forloop.first %}
                                                    <img src="{{image.image.url}}" alt="Product image">
                                                    {% endif %}
                                                    {% endfor %} 
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="{{item.product.get_url}}">{{item.product.product_name}}</a>
                                            </h3>   
                                            <!-- End .product-title -->
                                        </div><!-- End .product -->
                                        
                                    <td>
                                        <div>
                                            <p class="text-dark">
                                                {% if item.variations.all %}
                                                        {% for i in item.variations.all %}
                                                            {{i.variation_category| capfirst}} - {{i.variation_value | capfirst}}
                                                        {% endfor %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </td>   
                                    </td>
                                    <td class="price-col">
                                        {% if item.product.is_sale == True %}
                                        $ {{item.product.discounted_price}}
                                        {% else %}
                                        $ {{item.product.price}}
                                        {% endif %}</td>
                                    <td class="quantity-col">
                                        <div class="input-group quantity-selector">
                                            <button class="text-white btn-dark"><a href={% url 'decrement_cart' item.product.id item.id %} type="button" class="text-white" aria-describedby="inputQuantitySelector" data-bs-step="down">
                                                <span class="visually-hidden">-</span>
                                            </a></button>
                                            <input type="number" id="inputQuantitySelector" class="text-center" aria-live="polite"  name="quantity" title="quantity" value="{{item.quantity}}" min="0" max="10" step="1" data-bs-round="0" aria-label="Quantity selector "style="width:4rem;" readonly>
                                            <form action="{% url 'add_cart' item.product.id %}" method=post>
                                                {% csrf_token %}
                                                {% for item in item.variations.all %}
                                                <input type="hidden" name="{{item.variation_category | lower}}" value="{{item.variation_value | capfirst}}">    
                                                {% endfor %}
                                            <button type="submit" class="text-white btn-dark" aria-describedby="inputQuantitySelector" data-bs-step="up">
                                              <span class="visually-hidden">+</span>
                                            </button>
                                        </form>
                                        </div><!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">$ {{item.sub_total}}</td>
                                    <td class="remove-col"><a href={% url 'remove_cart_item' item.product.id item.id %} onclick= "return confirm('Are you sure you want to remove this item from your cart?')" class="btn-remove"><i class="icon-close"></i></a></td>
                                </tr>
                                
                            </tbody>
                            {% endfor %}
                        </table><!-- End .table table-wishlist -->
                        
                        
                        
                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="coupon" placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                                
                                {% for message in messages %}
                                    
                                    {% if message.tags == 'success' %}
                                    <p class="text-success">{{message}}</p>
                                    {% elif message.tags == 'error'%}
                                    <p class="text-danger">{{message}}</p>
                                    {% elif message.tags == 'info'%}
                                    <p class="text-dark">{{message}}</p>
                                    {% endif %}
                                        
                                {% endfor %}
                                
                                {% if request.user.is_authenticated %}
                                {% if request.user.coupon %}
                                    <button class=" btn-dark ml-4">{{request.user.coupon.coupon_code}}</button>
                                    <a href="{% url 'remove_coupons' %}"><i class="icon-close"></i></a>
                                {% endif %}
                                {% else %}
                                {% if cart.coupon %}
                                    <button class=" btn-dark ml-4">{{cart.coupon.coupon_code}}</button>
                                    <a href="{% url 'remove_coupon' cart.cart_id %}"><i class="icon-close"></i></a>
                                {% endif %}
                                {% endif %}
                                    
                                
                                    
                                    
                            </div><!-- End .cart-discount -->
                            
                            <a href="#" onclick="reload()" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                            
                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>$ {{total}}</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Tax:</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="">
                                                <label class="custom-control-label" for="tax">Total tax</label>
                                            </div><!-- End .custom-control -->
                                        </td>
                                        <td>$ {{tax}}</td>
                                    </tr><!-- End .summary-shipping-row -->
                                    
                                    <tr>  
                                    {% if cart.coupon %}
                                    <td>Coupon discount:</td>
                                    <td>-${{cart.coupon.discounted_price}}</td>
                                    {% elif request.user.coupon %}
                                    <td>Coupon discount:</td>
                                    <td>-${{request.user.coupon.discounted_price}}</td>
                                    {% endif %}
                                    </tr>

                            
                                    <tr class="summary-total">
                                       
                                        <td>Total:</td>
                                        <td>$ {{grand_total}}</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->
                            
                            <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                        </div><!-- End .summary -->
                        
                        <a href="{% url 'shop' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    reload=()=>{
        location.reload();
    }
</script>
{% endif %}
{% include 'partials/footer.html' %}
{% endblock content %}
