{% extends 'partials/base.html' %}
{% load static %}

{% block menu %}
<div class="header-center mr-auto">
    <nav class="main-nav">
        <ul class="menu sf-arrows">
            <li>
                <a href="{% url 'home' %}" class="">Home</a>
            </li>
            <li>
                <a href="{% url 'shop' %}" class="">Shop</a>
                
            </li>
            <li>
                <a href="{% url 'about' %}" class="">About</a>
            </li>
            <li>
                <a href="{% url 'contact_us' %}" class="">Contact Us</a>
            </li>
            <li>
                <a href="{% url 'faq' %}" class="">FAQ</a>
            </li>
        </ul><!-- End .menu -->
    </nav><!-- End .main-nav -->
  </div><!-- End .header-left -->                
{% endblock menu %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form action="{% url 'place_order' %}" method=post>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card card-dashboard">
                                <div class="card-body">
                                    <h3 class="card-title mb-2">Shipping Address</h3><!-- End .card-title -->
                                    
                                    {% if active_shipping_address %}
                                        
                                    
                                    {% for address in active_shipping_address %}
                                        
                                    
                                    <p><strong>{{address.first_name | capfirst}} {{address.last_name | capfirst}}</strong><br>
                                        {{address.address_line_1}}<br>
                                        {{address.address_line_2}}<br>
                                        {{address.city}}, {{address.state}}, {{address.country}} {{address.pin_code}}<br>
                                        {{address.phone}}<br>
                                        {{address.email}}<br>
                                        <div class="text-right">
                                            
                                            
                                            <a href="{% url 'edit_address_checkout' address.id %}" class="mr-5">Edit <i class="icon-edit"></i></a>
                                            <a href="{% url 'delete_address_checkout' address.id %}" onclick= "return confirm('Are you sure you want to remove this address?')" class="text-danger">Delete</a>
                                        </div>
                                    </p>
                                    {% endfor %}
                                    {% else %}
                                    <p>There is no active address. Please select a different address or add a new address.</p>
                                    {% endif %}
                                </div><!-- End .card-body -->
                            </div><!-- End .card-dashboard -->
                            <div>
                                <!-- Button trigger modal -->
<!-- Button trigger modal -->
<a class="mb-2 btn text-info" data-toggle="modal" data-target="#exampleModal">
    Select a different address
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select a different address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            {% if inactive_shipping_address %}
          
            {% for address in inactive_shipping_address %}
                
            
            <div class="card card-dashboard">
                <div class="card-body">
                    <p><strong>{{address.first_name | capfirst}} {{address.last_name | capfirst}}</strong><br>
                        {{address.address_line_1}}<br>
                        {{address.address_line_2}}<br>
                        {{address.city}}, {{address.state}}, {{address.country}} {{address.pin_code}}<br>
                        {{address.phone}}<br>
                        {{address.email}}<br>
                        <div class="text-right">
                            
                            {% if address.status != True %}
                            <a href="{% url 'select_address_checkout' address.id %}" class="mr-5" style="color:#87CEEB">Select this address</a>
                            {% endif %}
                            
                            <a href="{% url 'edit_address_checkout' address.id %}" class="mr-5">Edit <i class="icon-edit"></i></a>
                            <a href="{% url 'delete_address_checkout' address.id %}" onclick= "return confirm('Are you sure you want to remove this address?')" class="text-danger">Delete</a>
                        </div>
                    </p>
                </div><!-- End .card-body -->
            </div><!-- End .card-dashboard -->
            {% endfor %}
            {% else %}
            <p class="m-3">There is only one address available. Please add a new address.</p>
            {% endif %}
            
            {% if existing_address_count < 3 %}
            <button class="btn btn-dark m-3"><a href="{% url 'add_address_checkout' %}" class="text-white">Add address</a></button>
            {% endif %}
                
       </div>
      </div>
    </div>
  </div>
                                
                            </div>
                                <label>Order notes (optional)</label>
                                <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery" name="order_note"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        {% for item in cart_items %}
                                        <tr>
                                            <td><a href="{{item.product.get_url}}">{{item.product.product_name}}</a>
                                            <p>{% if item.variations.all %}
                                                {% for i in item.variations.all %}
                                                    {{i.variation_category| capfirst}} - {{i.variation_value | capfirst}}
                                                {% endfor %}
                                                {% endif %}</p></td>
                                            <td>{% if item.product.is_sale == True %}
                                                $ {{item.product.discounted_price}}
                                                {% else %}
                                                $ {{item.product.price}}
                                                {% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>$ {{total}}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Tax:</td>
                                            <td>{{tax}}</td>
                                        </tr>
                                        {% if request.user.coupon and grand_total >= request.user.coupon.minimum_amount %}
                                        <td>Coupon discount:</td>
                                        <td>-${{request.user.coupon.discounted_price}}</td>
                                        {% endif %}
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>$ {{grand_total}}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->
                                <div>
                                    <h3 class="summary-title mt-3">Payment method</h6>
                                </div>
                                <input type="radio" name="payment_method" value="paypal" required>
                                <label for="paypal">PayPal</label>
                                <br>
                                <input type="radio" name="payment_method" value="cod">
                                <label for="cod">Cash On Delivery</label>
                                <br>
                                
                                {% if wallet.balance >= grand_total %}
                                <input type="radio" name="payment_method" value="wallet">
                                <label for="wallet">Wallet</label><br>
                                <label for="wallet">Wallet balance : ${{wallet.balance}}</label>
                                {% else %}
                                <input type="radio" name="payment_method" value="wallet" disabled>
                                <label for="wallet">Wallet</label><br>
                                <label for="wallet" class="text-danger">Wallet balance : ${{wallet.balance}}</label>
                                <label for="wallet" class="text-danger">Insufficient balance</label>
                                {% endif %}
                                    



                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                                
                                {% for message in messages %}
                                    <p class="text-danger">Please select an address to proceed.</p>
                                {% endfor %}
                                    
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->   


{% include 'partials/footer.html' %}
{% endblock content %}
    