{% extends 'partials/base.html' %}
{% load static %}

{% block menu %}
<div class="header-center mr-auto">
    <nav class="main-nav">
        <ul class="menu sf-arrows">
            <li>
                <a href="{% url 'home' %}" class="">Home</a>
            </li>
            <li>
                <a href="{% url 'shop' %}" class="">Shop</a>
                
            </li>
            <li>
                <a href="{% url 'about' %}" class="">About</a>
            </li>
            <li>
                <a href="{% url 'contact_us' %}" class="">Contact Us</a>
            </li>
            <li>
                <a href="{% url 'faq' %}" class="">FAQ</a>
            </li>
        </ul><!-- End .menu -->
    </nav><!-- End .main-nav -->
  </div><!-- End .header-left -->  
{% endblock menu %}
    

{% block content %}
        
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Wishlist<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    
    <div class="page-content">
        <div class="container">
            {% if wishlist_items %}
            <table class="table table-wishlist table-mobile">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Stock Status</th>
                        <th class="pl-5">Size</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    
                        
                    
                    {% for item in wishlist_items %}
                    <tr data-item-id="{{ item.id }}">
                        
                        <td class="product-col">
                            <div class="product">
                                <figure class="product-media">
                                    <a href="{{item.product.get_url}}">
                                        {% for image in item.product.product_img.all %}
                                        {% if forloop.first %}
                                        <img src="{{image.image.url}}" alt="Product image">
                                        {% endif %}
                                        {% endfor %} 
                                    </a>
                                </figure>
                                
                                <h3 class="product-title">
                                    <a href="{{item.product.get_url}}">{{item.product.product_name}}</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="price-col">
                            {% if item.product.is_sale == True %}
                            $ {{item.product.discounted_price}}
                            {% else %}
                            $ {{item.product.price}}
                            {% endif %}
                        </td>
                        
                        <td class="stock-col" id="stock-col-{{ item.id }}">
                            <!-- Stock status placeholder -->
                            <p id="stock-status-placeholder-{{ item.id }}">Select size</p>
                        </td>
                        <td class="action-col">
                            <form action="{% url 'add_cart' item.product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="select-custom m-5">
                                    <select name="size" id="size" class="form-control" required>
                                        <option value="" selected disabled hidden>Select size</option>
                                        
                                        {% for i in item.product.variant.all|dictsort:"id" %}
                                        <option value="{{i.variation_value}}">{{i.variation_value}}</option> 
                                        {% endfor %}
                                    </select>
                                </div><!-- End .select-custom -->
                            </td>
                        <td class="action-col">
                            <button id="add-to-cart-button-{{ item.id }}" type="submit" class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to cart</button>
                        </td>
                    </form>
                    <td class="remove-col">
                        <a href="{% url 'remove_wishlist_item' item.product.id item.id %}"><button class="btn-remove"><i class="icon-close"></i></button></a>
                        </td>

                    </tr>
                    {% endfor %}
                    
                    
                    
                </tbody>
            </table><!-- End .table table-wishlist -->
            {% else %}
            <div class="text-center">
            <h3 class="m-5 p-5">Your wishlist is empty</h3>
            </div>
            {% endif %}
            <div class="wishlist-share">
                <div class="social-icons social-icons-sm mb-2">
                    <label class="social-label">Share on:</label>
                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .wishlist-share -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% include 'partials/footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Listen for changes in the select dropdown
        $('select[name="size"]').change(function() {
            var variationValue = $(this).val();
            var itemId = $(this).closest('tr').data('item-id'); // Fetching item_id here
            var url = "{% url 'get_stock_status' %}";

            // Send AJAX request to fetch updated stock status
            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    'variation_value': variationValue,
                    'item_id': itemId // Passing item_id in the AJAX request
                },
                dataType: 'json',  // Specify JSON as the expected data type
                success: function(response) {
                    // Update stock status in the DOM
                    var stockStatusPlaceholder = $('#stock-status-placeholder-' + itemId);
                    if (response.stock_status === 'in_stock') {
                        stockStatusPlaceholder.html('<span class="in-stock">In stock</span>');
                        $('#add-to-cart-button-' + itemId).prop('disabled', false); // Enable Add to Cart button
                    } else if (response.stock_status === 'out_of_stock') {
                        stockStatusPlaceholder.html('<span class="out-of-stock">Out of stock</span>');
                        $('#add-to-cart-button-' + itemId).prop('disabled', true); // Disable Add to Cart button
                    } else {
                        stockStatusPlaceholder.html('Select size');
                        $('#add-to-cart-button-' + itemId).prop('disabled', true); // Disable Add to Cart button
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock content %}
